In [1]:
import pandas as pd
from sklearn import preprocessing

In [5]:
le = preprocessing.OneHotEncoder()

In [7]:
from sklearn.preprocessing import  OneHotEncoder

enc = OneHotEncoder(sparse = False) 
ans = enc.fit_transform([[0, 0, 3],
                         [1, 1, 0],
                         [0, 2, 1],
                         [1, 0, 2]])

print(ans)

[[1. 0. 1. 0. 0. 0. 0. 0. 1.]
 [0. 1. 0. 1. 0. 1. 0. 0. 0.]
 [1. 0. 0. 0. 1. 0. 1. 0. 0.]
 [0. 1. 1. 0. 0. 0. 0. 1. 0.]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [8]:
ans

array([[1., 0., 1., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 1., 0., 1., 0., 0.],
       [0., 1., 1., 0., 0., 0., 0., 1., 0.]])

In [9]:
df = pd.DataFrame(data=ans[1:,1:],    # values
            index=ans[1:,0],    # 1st column as index
            columns=ans[0,1:])

In [10]:
df

     0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0
0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0
1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0
0.0  1.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0